<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Hello, world!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Style CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.structure.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
<div class="contain-top__line fixed-top-line" style="min-height: 38px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="top__line">
                    <div class="top__line_burg">
                        <span class="top__line_burg-l1"></span>
                        <span class="top__line_burg-l2"></span>
                        <span class="top__line_burg-l3"></span>
                    </div>
                    <div class="top__line_menu">
                        <ul>
                            <li><a href="#">Клиентам</a></li>
                            <li><a href="#">Партнерам</a></li>
                        </ul>
                    </div>

                    <div class="top__line_logo">
                        <a href="#">Adam-sarman.com</a>
                    </div>
                    <div class="top__line_link">
                        <a href="#" id="open_modal_1">Make order</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="contain-horizontal__menu margin_top_38">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="horizontal__menu">
                    <ul>
                        <li>
                            <a href="#">
                                <img src="img/ico-01.svg" alt="img">
                                Global idea
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="img/ico-02.svg" alt="img">
                                Visualization
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="img/ico-03.svg" alt="img">
                                Materialization
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="img/ico-04.svg" alt="img">
                                Optimization
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="img/ico-05.svg" alt="img">
                                Multiplication
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="img/ico-06.svg" alt="img">
                                Marketplace
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="mobile-horizontal__menu">
                    <div class="mobile-horizontal__menu-btn">
                        <img src="img/ico-menu-down.svg" alt="img">
                    </div>
                    <ul>
                        <li>
                            <a href="#">
                                <img src="img/ico-01.svg" alt="img">
                                Global idea
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="img/ico-02.svg" alt="img">
                                Visualization
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="img/ico-03.svg" alt="img">
                                Materialization
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="img/ico-04.svg" alt="img">
                                Optimization
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="img/ico-05.svg" alt="img">
                                Multiplication
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="img/ico-06.svg" alt="img">
                                Marketplace
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>